<div class="container-fluid">
	<img class="header" src="../../../../assets/photos/header/apartmani.png">

	<div class="row header">
		<h4 class="header">Apartmani</h4>

		<p class="header">
			Fusce maximus diam et mauris condimentum eleifend.
			Donec malesuada quis mi ut faucibus.
			Cras gravida lectus felis,
			eu fermentum nunc aliquet id.
			Suspendisse cursus diam sit amet turpis tempor malesuada.
		</p>
	</div>
</div>

<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<md-tab-group>
					<md-tab label="ARHITEKTURA">
						<h4 class="tab" style="padding-bottom: 20px">Tehnički Opis</h4>
						<p class="arh">
							POSTOJEĆE STANJE<br><br>
							Na parceli se trenutno nalazi postojeći stambeni objekat koji se u potpunosti ruši ,
							to jest ne zadržava se ni jedan deo postojećeg objekta.<br><br>
							URBANISTIČKA DISPOZICIJA<br><br>
							Projektovani stambeni objekat pozicioniran je u ulici Jovanke Jeftanović ,
							na uglu dva kraka te ulice. Katastarska parcela je gradjevinska parcela objekta
							.Ulica ispred objekta je u blagom padu ka jugu i ka istoku.Parcela je blago nepravilnog ,
							romboidnog oblika .Pešački pristup objekat je predviđen na najvišem , severozapadnom delu
							parcele , tako da je kota terena na mestu pristupa 974.88 m.n.v.U podzemnu garažu objekta
							je predviđen pristup na jugoistočnom delu parcele , tamo gde je teren najniži , na koti 972.10 m.n.v.<br>
							Broj katastarske parcele: 4577/431 KO Čajetina<br>
							Površina katastarske parcele:575 m2<br>
							Dozvoljeni koeficijent izgrađenosti: 1.2<br>
							Spratnost objekta: Po +Sut+ Pr + 3sprata<br>
							Ukupno pod objektom: 226.20 m2<br>
							Ukupno zelene površine: 192.56 m2( 33%)<br>
							BRGP Objekta: 689.29 m2<br>
							Bruto objekta sa podzemnom etažom: 1175.20 m2<br>
							Neto površina objekta: 999.69 m2<br>
							Neto površina stanova: 636.16 m2<br>
							Ostvareni koeficijent izgrađenosti: 1.20<br>
							Ostvareni indeks zauzetosti: 39 %<br>
							Ukupno stanova: 15 stanova<br>
							Ukupno parking mesta: 15 parking mesta<br>
							Ukupna neto površina objekta: 999.69 m2<br><br>
							SAOBRAĆAJNO REŠENJE<br><br>
							Predmetna parcela izlazi direktno na ulicu Jovanke Jevtanović tako da je pristupačnost povoljna.
							Kolski pristup u dvorište i garažu objekta je predviđen iz ulice Jovanke Jevtanović.Pešački pristup u
							stambeni deo objekta je predviđen na nivou prizemlja u ravni trotoara iz ulice Jovanke Jevtanović.<br><br>
							VERTIKALNE KOMUNIKACIJE<br><br>
							U stambenom delu objekta za vertikalno kretanje su predviđeni prostor stepeništa i električnog
							putničkog lifta.Lift i stepenište povezuju sve nivoe objekta. Kapacitet lifta je 8 osoba sa
							minimalnom svetlom dimenzijom kabine 1100 x 1400 mm i nosivosti 630 kg , sa električnim motorom.
							Stepenište ima minimalnu svetlu širinu od 120 cm. Dimenzije stepenika su 16 cm / 28 cm.
							Vertikalno podizanje invalidnih i teze pokretnih lica se vrši električnim liftom – platformom
							sa pešačkog pristupa objektu do platoa ispred ulaznih rata u objekat.<br><br>
							KRETANJE INVALIDNIH LICA<br><br>
							U okviru stambenog dela objekta je omogućeno nesmetano kretanje invalidnih lica ,
							putem putničkog lifta sa minimalnom svetlom dimenzijom kabine 1100 x 1400 mm i nosivosti 630 kg.
							Pretprostori ispred ulaska u stanove su minimalne širine od 150 cm. Kota vetrobrana objekta je iznad
							nivoa trotoara ulice , tako da invalidna lica dolaze do kote vetrobrana električnom platformom predviđenom
							na ogradi pristupnog stepeništa. Parkiranje invalidnih lica je planirano u garaži , gde su ostvarena 2
							parking mesta za invalidna lica.<br><br>
							PARKING PROSTOR<br><br>
							Na nivou garaže je predviđeno 10 parking mesta , od čega 2 parking
							mesta mogu koristiti invalidna lica. U dvorištu objekta su predviđeno 5 parking mesta.<br><br>
							PARTERNO UREĐENJE<br><br>
							Pešački prilaz objektu obrađen je behaton pločama ,
							a rampa za prilaz garaži asfaltom sa predviđenim grejanjem.
							Rampa je nagiba 15%. Ostali deo parcele je travnata površina
							sa niskim dekorativnim rastinjem i zadržanim postojećim stablima
							.Na parceli je predviđeno ukupno 192.56 m2 zelene površine.<br><br>
							FUNKCIONALNA ORGANIZACIJA<br><br>
							Projektovani stambeni objekat je slobodnostojeći sa predviđenom spratnosti
							Po+Su+Pr +3Sp. Funkcionalno posmatrano objekat ima dve funkcionalne celine:
							Stambeni deo koji se nalazi od nivoa suterena do nivoa 3. sprata sa ukupno
							15 stambenih jedinica – stanova.Drugi deo je garaža za vozila na nivou podruma.
							Apsolutna kota prizemlja 976.08 mnv<br><br>
							KONSTRUKCIJSKA KONCEPCIJA OBJEKTA<br><br>
							Projektovani stambeni objekat je konstruktivno koncipiran kao armirano betonski skelet.
							Ploče su armirano betonske , debljine od 18 – 20 cm. Objekat je fundiran na temeljnoj
							ploči , debljine 40 cm.Fasadni zidovi i zidovi uopšte nemaju konstruktivnu ulogu ,
							već su isključivo ispuna.Temeljni zidovi su armirano betonski , debljine 20 cm.
							Predviđena krovna konstrukcija je klasična drvena na rožnjačama.
						</p>

						<div class="col-sm-6">
							<h4 class="mat">Opis Lokacije</h4>

							<p class="mater">
								Lokacija vile Aerris nalazi se na Zlatiboru ,
								na kat.parceli br.4577/431 KO Čajetina, u ulici Jovanke Jeftanović.
								Novi stambeni objekat gradi se kao slobodnostojeći , odmaknut do bočne granice parcele 1m ,
								bez otvora .Od zadnje granice parcele je jednim delom odmaknut 1 m , bez otvora na tom delu
								fasade.Objekat je od ulice Jovanke Jeftanović odmaknut od 5 – 8 m.Lokacija je u blagom padu
								ka jugu , sa dobrom osunčanošću i pogledom.Parcela izlazi direktno na ulicu Jovanke Jefttanović
								sa svoje dve strane , ostvarujući iz nje i svoj pešački i kolski pristup u garažu.<br><br>
							</p>

							<h4 class="pog">Pogodnosti Apartmana</h4>

							<ul>
								<li>
									<p class="icontxt"><img src="../../assets/photos/lift.png">Lift</p>
								</li>

								<li>
									<p class="icontxt"><img src="../../assets/photos/prilagodjenozadecu.png">Prilagodjeno za decu</p>
								</li>

								<li>
									<p class="icontxt"><img src="../../assets/photos/invalid.png">Prilagodjeno za invalide</p>
								</li>

								<li>
									<p class="icontxt"><img src="../../assets/photos/terace.png">Terasa</p>
								</li>

								<li>
									<p class="icontxt"><img src="../../assets/photos/Garaza.png">Garaža</p>
								</li>

								<li>
									<p class="icontxt"><img src="../../assets/photos/Interfon.png">Interfon</p>
								</li>

								<li>
									<p class="icontxt"><img src="../../assets/photos/Video%20nadzor.png">Video nadzor</p>
								</li>
							</ul>
						</div>
					</md-tab>

					<md-tab label="DOSTUPNOST">
						<p class="dostup">
							Stranica prikazuje tabelu Dostupnih, Rezervisanih i Prodatih Apartmana. Tabela takodje prikazuje
							kapacitet vile Aerris, sprat na kome se apartman nalazi, njegovu kvadraturu i poziciju.
							<br><br>
							Klikom na izabrani apartman otvara se stranica sa detaljima i opisom odabranog apartmana
						</p>

						<table class="table table-hover">
							<thead>
								<tr>
									<th>Broj</th>
									<th>Sprat</th>
									<th>Kvadratura</th>
									<th>Stil</th>
									<th>Tip</th>
									<th>Pozicija</th>
									<th>Terasa</th>
									<th colspan="2">Dostupan</th>
								</tr>
							</thead>

							<tbody>
								<tr *ngFor="let apartman of apartmans" class="clickable"
									[routerLink]="apartman.id">
									<td scope="row">{{apartman.id}}</td>
									<td>{{apartman.floor}}</td>
									<td>{{apartman.area}}m²</td>
									<td>{{apartman.style}}</td>
									<td>{{apartman.type}}</td>
									<td>{{apartman.posittion}}</td>
									<td [className]="apartman.terace ? 'yes' : 'no'">{{apartman.terace ? 'Da' : 'Ne'}}</td>
									<td
										[class.yes]="apartman.available === 'Da'"
										[class.no]="apartman.available === 'Ne'"
										[class.reserved]="apartman.available === 'Rezervisan'"
									>{{apartman.available}}</td>
									<td><i class="fa fa-chevron-right"></i></td>
								</tr>
							</tbody>
						</table>
					</md-tab>
				</md-tab-group>
			</div>
		</div>
	</div>
	<div class="container-fluid"
		 style="padding: 0;margin: 0;height: auto">

		<md-card class="example-card"
				 style="background:#1B75BC;color:#F1F2F2">

			<md-card-header>
				<md-card-title style="font-size: 18px; font-weight: 300;">Zainteresovani ste ?</md-card-title>
			</md-card-header>

			<md-card-content>
				<p style="text-align: center; padding: 0 20%; font-weight: 300">
					Ukoliko zaista želite da jedan od novih,
					luksuznih Aerris apartmana bude vaš
					možete nas kontaktirati kako bi ste
					saznali više informacija kao i rezervisali vaš apartman.
				</p>
			</md-card-content>

			<md-card-actions>
				<button md-raised-button style="font-size: 14px" routerLink="kontakt">KONTAKTIRAJTE NAS</button>
			</md-card-actions>
		</md-card>
	</div>

	<div class="container-fluid san">
		<h4 class="san">OSTVARITE SVOJ SAN I OBEZBEDITE SEBI LUKSUZNI APARTMAN NA ZLATIBORU</h4>
	</div>
</div>


