<div class="container-fluid">
	<img class="header" src="../../../../assets/photos/header/apartmani.png">

	<div class="row header">
		<h4 class="header">Apartmani</h4>

		<p class="header">
			Fusce maximus diam et mauris condimentum eleifend.
			Donec malesuada quis mi ut faucibus.
			Cras gravida lectus felis,
			eu fermentum nunc aliquet id.
			Suspendisse cursus diam sit amet turpis tempor malesuada.
		</p>
	</div>
</div>

<div class="wrapper">
	<div class="container">
						<div class="row">
							<div class="col-sm-12">
								<h1>APARTMANI AERRIS</h1>
							</div>

							<div class="col-sm-6" >
									<section class="building">
										<div class="building-top-1"></div>
										<div class="building-top-2"></div>
										<div class="building-floors-wrapper">
											<div class="building-floors-wrapper-stairs">
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
												<div></div>
											</div>
											<div class="building-floors-wrapper-container">
												<!--Think that you can loop objects like this-->
												<div class="apartmans"
													*ngFor="let a of apartmans"
													[class.sold]="a.available == 'Ne'"
													[class.available]="a.available == 'Da'"
													[class.reserve]="a.available == 'Rezervisan'"
													(mouseenter)="aptHovered(a)"
													(mouseleave)="aptBlur()"
													[routerLink]="a.id">A<span>{{a.id}}</span></div>

											</div>
											<div class="building-floors-separator"></div>
											<div class="building-window"></div>
											<div class="building-door"></div>
										</div>
										<div class="building-g-separator"></div>
										<div class="building-g-wrapper">
											<h1>
												Aerris
												<span>Garrage</span>
											</h1>
											<div class="content" routerLink="../garaza">
												<div class="g">1</div>
												<div class="g">2</div>
												<div class="g sold">3</div>
												<div class="g sold">4</div>
												<div class="g sold">5</div>
												<div class="g sold">6</div>
												<div class="g sold">7</div>
												<div class="g sold">8</div>
												<div class="g sold">9</div>
												<div class="g">10</div>
											</div>
										</div>
										<div class="building-g-separator building-g-separator-bottom"></div>
									</section>
							</div>
							<div class="col-sm-6">
								<md-card style="margin-top: 50px">
									<div class="info">
										<div class="info1">Slobodno</div>
										<div class="info2"> Rezervisano</div>
										<div class="info3">Prodato</div>
									</div>
									<div class="image" *ngIf="hoveredApt">
										<img  style="padding-top: 40px;width: 100%;height: 100%;" [src]=" '/assets/photos/aerrisOsnove/' + hoveredApt.highlightImage + '.png'">
									</div>
									<div class="exp">
										<span>Napomena:</span>
										<p>
											Klikom na odredjeni apartman otvara
											se detaljna stranica odabranog apartmana
										</p>
									</div>
								</md-card>
							</div>
						</div>
							<div class="col-sm-6">
								<h4 class="pog">Pogodnosti Apartmana</h4>

								<ul>
									<li>
										<p class="icontxt"><img src="../../assets/photos/lift.png">Lift</p>
									</li>

									<li>
										<p class="icontxt"><img src="../../assets/photos/prilagodjenozadecu.png">Prilagodjeno za decu</p>
									</li>

									<li>
										<p class="icontxt"><img src="../../assets/photos/invalid.png">Prilagodjeno za invalide</p>
									</li>

									<li>
										<p class="icontxt"><img src="../../assets/photos/terace.png">Terasa</p>
									</li>

									<li>
										<p class="icontxt"><img src="../../assets/photos/Garaza.png">Garaža</p>
									</li>

									<li>
										<p class="icontxt"><img src="../../assets/photos/Interfon.png">Interfon</p>
									</li>

								</ul>
							</div>

	</div>

	<div class="container-fluid"
		 style="padding: 0;margin: 0;height: auto">

		<md-card class="example-card"
				 style="background:#1B75BC;color:#F1F2F2">

			<md-card-header>
				<md-card-title style="font-size: 18px; font-weight: 300;">Zainteresovani ste ?</md-card-title>
			</md-card-header>

			<md-card-content>
				<p style="text-align: center; padding: 0 20%; font-weight: 300">
					Ukoliko zaista želite da jedan od novih,
					luksuznih Aerris apartmana bude vaš
					možete nas kontaktirati kako bi ste
					saznali više informacija kao i rezervisali vaš apartman.
				</p>
			</md-card-content>

			<md-card-actions>
				<button md-raised-button style="font-size: 14px" routerLink="kontakt">KONTAKTIRAJTE NAS</button>
			</md-card-actions>
		</md-card>
	</div>

	<div class="container-fluid san">
		<h4 class="san">OSTVARITE SVOJ SAN I OBEZBEDITE SEBI LUKSUZNI APARTMAN NA ZLATIBORU</h4>
	</div>
</div>


