<div class="wrapper">
<div class="container">
<div class="row">
	<div class="col-sm-8">
		<md-tab-group>
			<md-tab  label="Materijalizacija">
				<div class="row responsive" >
					<div class="col-sm-8">
						<p>
							Fasadni zidovi zidaju se od klima blokova debljine d=20cm.
							Unutrašnji pregradni zidovu su od klima blokova, debljine 10 i 20 cm,
							u svemu prema propisima i standardima u pogledu zvučne i toplotne izolacije.
							Ukopani zidovi su od armiranog betona d=20cm...
						</p>
						<button md-raised-button routerLink="materijalizacija">DETALJNIJE</button>
					</div>
					<div class="col-sm-4" style="text-align: center;padding-left: 0">
						<img src="../../../assets/photos/tab1.png"
							 style="max-width: 100%;">
					</div>
				</div>

			</md-tab>
			<md-tab label="Tehnički Opis">
				<div class="row responsive" >
					<div class="col-sm-8">
						<p>
							Projektovani stambeni objekat je slobodnostojeći sa predviđenom spratnosti Po+Su+Pr +3Sp.
							Funkcionalno posmatrano objekat ima dve funkcionalne celine: Stambeni deo koji se nalazi
							od nivoa suterena do nivoa 3. sprata sa ukupno 15 stambenih...
						</p>
						<button md-raised-button routerLink="apartmani">DETALJNIJE</button>
					</div>
					<div class="col-sm-4" style="text-align: center;padding-left: 0">
						<img src="../../../assets/photos/tab2.png"
							 style="max-width: 100%;">
					</div>
				</div>

			</md-tab>
			<md-tab label="Investitor">
				<div class="row responsive" >
					<div class="col-sm-8">
						<p>
							Projektovani stambeni objekat je slobodnostojeći sa predviđenom spratnosti Po+Su+Pr +3Sp.
							Funkcionalno posmatrano objekat ima dve funkcionalne celine: Stambeni deo koji se nalazi
							od nivoa suterena do nivoa 3. sprata sa ukupno 15 stambenih...
						</p>
						<button md-raised-button routerLink="investitori">DETALJNIJE</button>
					</div>
					<div class="col-sm-4" style="text-align: center;padding-left: 0">
						<img src="../../../assets/photos/tab3.png"
							 style="max-width: 100%;">
					</div>
				</div>

			</md-tab>
		</md-tab-group>
	</div>
	<div class="col sm-4">
		<md-tab-group style="text-align: center">
			<md-tab class="deg" label="Konceptualno rešenje enterijera">
				<p class="deg">
					Neka od naših idejnih rešenja za izgled enterijera apartmana vile Aerris koji je
					urađen u saradnji sa kompanijom Zip Univer D.O.O. Možete ih kontaktirati i na jednom mestu dobiti idejno rešenje interijera i
					proizvodnju nameštaja za isti.
				</p>
				<button md-raised-button routerLink="galerija">GALERIJA</button>
			</md-tab>
		</md-tab-group>
	</div>
</div>
</div>
	<div class="container-fluid">
			<md-card class="example-card ">
				<md-card-header>
					<md-card-title style="font-size: 18px;font-weight: 300">Zainteresovani ste ?</md-card-title>
				</md-card-header>
				<md-card-content>
					<p style="text-align: center;padding: 0 20%; font-weight: 300">
						Ukoliko zaista želite da jedan od novih,
						luksuznih Aerris apartmana bude vaš
						možete nas kontaktirati kako bi ste
						saznali više informacija kao i rezervisali vaš apartman.
					</p>
				</md-card-content>
				<md-card-actions>
					<button md-raised-button routerLink="kontakt">KONTAKTIRAJTE NAS</button>
				</md-card-actions>
			</md-card>
	</div>
<div class="container-fluid san">
			<h4>OSTVARITE SVOJ SAN</h4>
		</div>
     <div class="container">
	<div class="row">
			<div class="col-md-4">
				<img [src]="ski">
				<h4 class="icons">SKIJALISTE</h4>
				<p style="padding: 0 15px; line-height: 17px; color: #6D6E71">Udaljenost od Ski Centra Tornik 11 km</p>
			</div>
			<div class="col-md-4">
				<img [src]="lake">
				<h4 class="icons">JEZERO</h4>

				<p style="padding: 0 15px; line-height: 17px; color: #6D6E71">Udaljenost od Zlatiborskog jezera 1 km</p>
			</div>
			<div class="col-md-4">
				<img [src]="airport">
				<h4 class="icons">AERODROM</h4>
				<p style="padding: 0 15px; line-height: 17px; color: #6D6E71">Udaljenost od Aerodroma Ponikve 47 km</p>
			</div>
	</div>
</div>
</div>
