<ngbox></ngbox>
	<ngb-carousel>
		<ng-template ngbSlide >
			<div ng-box src="../../../assets/photos/header/slider/Aerris-full-image.png" [image]="true" [style.display.none]="title"  group="group1" style="z-index: 100;cursor: pointer;transition: 0.2s;height: 100%;width: 100%;">
				<img src="../../../assets/photos/header/slider/Aerris1.png" class="slider">
				<div class="carousel-caption">
					<h3>AERRIS</h3>
					<p>Kliknite da uveličate sliku vile Aerris</p>
				</div>
			</div>

		</ng-template>
		<ng-template ngbSlide >
			<img src="../../../assets/photos/header/slider/slider1.png" class="slider">
			<div class="carousel-caption">
				<h3>LOKACIJA</h3>
				<p>Vila Aerris se nalazi na Zlatiboru u ulici Jovanke Jeftanovic.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<img src="../../../assets/photos/header/slider/slider2.png" alt="Random second slide" class="slider">
			<div class="carousel-caption">
				<h3>KAPACITET</h3>
				<p>Vila Aerris raspolaze kapacitetom od 15 luksuzno izgrađenih apartmana.</p>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<img src="../../../assets/photos/header/slider/slider3.png" alt="Random third slide" class="slider">
			<div class="carousel-caption">
				<h3>PARKING PROSTOR</h3>
				<p>Na nivou garaže je 10 parking mesta,
					od čega 2 parking mesta mogu koristiti invalidna lica.
					U dvorištu objekta su 5 parking mesta.</p>
			</div>
		</ng-template>
	</ngb-carousel>



