<div class="container-fluid header">
	<img src="{{head}}">

	<div class="row header">
		<h4 class="header">Materijalizacija</h4>
	</div>
</div>
<div class="wrapper">
	<div class="container">
		<div class="row">
				<h4 class="tab" style="padding-bottom: 20px">Materijalizacija</h4>
				<p class="arh">ZIDOVI<br><br>
					Fasadni zidovi zidaju se od klima blokova debljine d=20cm. Unutrašnji
					pregradni zidovu su od klima blokova, debljine 10 i 20 cm, u svemu
					prema propisima i standardima u pogledu zvučne i toplotne izolacije. Ukopani zidovi su od armiranog betona d=20cm
					Obrada fasadnih zidova urađena je na sledeće načine:<br>
					- fasada od akrilnog tankoslojnog maltera preko termoizolacije u 2 nijanse boje<br>
					- fasada od granitne keramike preko termoizolacije u imitaciji kamena<br>
					- fasada od drvene obloge preko termoizolacije.<br><br>
					PODOVI<br><br>
					Podovi stambenih površina predviđeni su kao plivajući na cem. košuljicama debljine 4-5 cm ,
					preko sloja zvučne i termoizolacije sa završnim slojem Lux Vinil - tarketa i keramike. Podovi
					pomoćnih prostorija obloženi su granitnom keramikom , a stepenišni prostor granitnom keramikom
					. Pod u garaži je ferobeton , a na pristupnoj rampi asfalt
					sa ugrađenim grejačima za otapanje snega.<br><br>
					PLAFONI<br><br>
					U svim prostorijama predviđa se bojenje plafona bojom u tonu prema upstvima
					projektanta. Spušteni plafoni su predviđeni u svim stambenim prostorima i izvode se od
					standardnih i vlagootpornih monolitnih gipskartonskih ploča na potkonstrukciju.Plafoni
					se izvode na minimalnoj visini spuštanja ispod plafona , samo za potrebe prolaska kablova
					I ugradnje led rasvete.<br><br>
					OBLOGA KROVA<br><br>
					Krov je pokriven crepom tip Bramak.<br><br>
					STOLARIJA<br><br>
					Spoljna stolarija na stambenom delu objekta, prozori, vrata i balkonska vrata su od pvc profila u boji tamnog hrasta
					, sa ispunom od izopan stakla u debljini 6mm+14mm+4mm i
					sa primenjenim unutrašnjim niskoemisionim staklom.
					Unutrašnja stolarija je izvedena od bojenog mdf. Ulazna vrata od stanova
					su sigurnosna, od čeličnog lima i ispunom sa adekvatnom zvučnom i termičkom izolacijom.<br><br>
					BRAVARIJA<br>
					Ograda glavnog stepeništa izrađena je od kutijastih čeličnih profila  bojenih
					efektom antike.<br><br>
					TERMIČKA, ZVUČNA IZOLACIJA<br><br>
					Za objekat su predviđene sve toplotne zaštite objekta, tako da su svi fasadni
					zidovi, međuspratne tavanice prema hladnim prostorijama i krovne konstrukcije
					termički izolovani. Za nadzemne delove objekta je predviđena termoizolacija od
					kombinacije vune i eps, a u podzemnim i podrumskim od hps ploča potrebne debljine. Objekat
					poseduje sertifikat termoefikasnosti objekta<br><br>
					GREJANJE OBJEKTA<br><br>
					Predviđeno je grejanje stanova individualnim elektro kotlovima tiv Villant,  smeštenim
					u prostoru predsoblja .Takođe je predviđeno grejanje pristupne rampe garaže
					u periodima velikih hladnoća , da bi se izbeglo formiranje ledenog sloja.Grejanje
					je predviđeno u sistemu grejnih kablova .<br><br>
					INSTALACIJE<br><br>
					Svi prostori u objektu sadrže i opremljeni su potrebnim instalacijama i elektro
					instalacijama jake i slabe struje, vodovoda i kanalizacij. Objekat je opremljen
					unutrašnjom hidrantskom mrežom.
				</p>
		</div>
	</div>
</div>
<div class="container-fluid" style="padding: 0;margin: 0;">
	<md-card class="example-card " style="background:#1B75BC;color:#F1F2F2">
		<md-card-header>
			<md-card-title style="font-size: 18px;font-weight: 300;">Zainteresovani ste ?</md-card-title>
		</md-card-header>
		<md-card-content style="margin-left: 20%;margin-right: 20%;">
			<p style="text-align: center; font-weight: 300;padding: 0 20%;">
				Ukoliko zaista želite da jedan od novih,
				luksuznih Aerris apartmana bude vaš
				možete nas kontaktirati kako bi ste
				saznali više informacija kao i rezervisali vaš apartman.
			</p>
		</md-card-content>
		<md-card-actions>
			<button md-raised-button>KONTAKTIRAJTE NAS</button>
		</md-card-actions>
	</md-card>
</div>
<div class="container-fluid san">
	<h4 class="san">OSTVARITE SVOJ SAN I OBEZBEDITE SEBI LUKSUZNI APARTMAN NA ZLATIBORU</h4>
</div>

