<div class="container-fluid header">
	<img src="{{head}}">

	<div class="row header">
		<h4 class="header">Materijalizacija</h4>
	</div>
</div>
<div class="wrapper">
	<div class="container">
		<div class="row">
				<h4 class="tab" style="padding-bottom: 20px">Materijalizacija</h4>
				<p class="arh">ZIDOVI<br><br>
					Fasadni zidovi zidaju se od klima blokova debljine d=20cm. Unutrašnji
					pregradni zidovu su od klima blokova, debljine 10 i 20 cm, u svemu
					prema propisima i standardima u pogledu zvučne i toplotne izolacije. Ukopani zidovi su od armiranog betona d=20cm
					Obrada fasadnih zidova urađena je na sledeće načine:<br>
					- fasada od strukturnog si-si maltera preko termoizolacije u 2 nijanse boje<br>
					- fasada od granitne keramike preko termoizolacije<br>
					- fasada od drvene obloge preko termoizolacije . Drvena obloga na fasadi se pre bajcovanja u završnu
					boju prethodno premazuje zaštitnim PP premazom , prema uputstvu proizvođeča. Završni bajc
					vodenom lazurom u mat sjaju u boji po izboru projektanta.<br><br>
					PODOVI<br><br>
					Podovi stambenih površina predviđeni su kao plivajući na cem. košuljicama debljine 4-5 cm ,
					preko sloja zvučne i termoizolacije sa završnim slojem Vinil - tarketa ili keramike. Podovi
					pomoćnih prostorija obloženi su granitnom keramikom , a stepenišni prostor kombinacijom
					prirodnog kamena i keramike . Pod u garaži je ferobeton , a na pristupnoj rampi asfalt
					sa ugrađenim grejačima za otapanje snega.<br><br>
					PLAFONI<br><br>
					U svim prostorijama predviđa se bojenje plafona disperzivnom bojom u tonu prema upstvima
					projektanta. Spušteni plafoni su predviđeni u svim stambenim prostorima i izvode se od
					standardnih i vlagootpornih monolitnih gipskartonskih ploča na potkonstrukciju.Plafoni
					se izvode na minimalnoj visini spuštanja ispod plafona , samo za potrebe prolaska kablova
					I ugradnje led rasvete.<br><br>
					STEPENIŠTE<br><br>
					Stepenište je kolenasta ab ploča, oblaže se granitnom keramikom a plafonske površine se malterišu, gletuju i boje.<br><br>
					OBLOGA KROVA<br><br>
					Krov je pokriven crepom. Vetrenje krova omogućeno je dvostrukim letvanjem
					(letvanjem krova u dva pravca). Sekundarni pokrivač - hidoroizolacija krova,
					izvedena je od vodonepropusne - paropropusne folije.<br><br>
					STOLARIJA<br><br>
					Spoljna stolarija na stambenom delu objekta, prozori, vrata i balkonska vrata su od aluminijum
					- drvo profila , sa ispunom od izopan stakla u debljini 6mm+14mm+4mm, punjenim Argon gasom, i
					sa primenjenim unutrašnjim niskoemisionim staklom.Spoljna stolarija mora ispuniti koeficijent
					1.3 toplotnih gubitaka i propustljivost fuga i spojeva 0,2 .
					Unutrašnja stolarija je izvedena od mdf, furnirana i bajcovana. Štokovi su od masiva,
					takođe furnirani i bajcovani u svemu prema uputstvu projektanta. Ulazna vrata od stanova
					su sigurnosna, od čeličnog lima i ispunom sa adekvatnom zvučnom i termičkom izolacijom.<br><br>
					BRAVARIJA<br>
					Ograda glavnog stepeništa izrađena je od kutijastih čeličnih profila 40/40 bojenih
					emajl satenom sa ispunom od čeličnih profila 20/40 i drvenim rukohvatom.<br><br>
					TERMIČKA, ZVUČNA I HIROIZOLACIJA<br><br>
					Za objekat su predviđene sve toplotne zaštite objekta, tako da su svi fasadni
					zidovi, međuspratne tavanice prema hladnim prostorijama i krovne konstrukcije
					termički izolovani. Za nadzemne delove objekta je predviđena termoizolacija od
					kamene vune minimalne debljine od 12 cm , a u podzemnim i podrumskim od stirodur ploča potrebne debljine.
					Hidroizolacija podzemnog dela objekta je predviđena PVC membranom tipa „SIKAPLAN“ u sistemu proizvođača ,
					sa sistemskom obradom svih prodora i karakterističnih mesta.
					Hidroizolacija kupatila i terasa – dvokomponentni Sika premaz.
					Hidroizolacija krovne bašte nad garažom – „SIKAPLAN“ membrana.<br><br>
					GREJANJE OBJEKTA<br><br>
					Predviđeno je grejanje stanova individualnim elektro kotlovima smeštenim
					u prostoru predsoblja .Takođe je predviđeno grejanje pristupne rampe garaže
					u periodima velikih hladnoća , da bi se izbeglo formiranje ledenog sloja.Grejanje
					je predviđeno u sistemu podnog grejanja .<br><br>
					INSTALACIJE<br><br>
					Svi prostori u objektu sadrže i opremljeni su potrebnim instalacijama i elektro
					instalacijama jake i slabe struje, vodovoda i kanalizacije, i biće obrađeni posebnim
					projektima koji čine celokupnu dokumentaciju za izgradnju objekta. Objekat je oprdaemljen
					unutrašnjom hidrantskom mrežom .U prostoru garaže predviđeno je izbacivanje vazduha u
					slučaju povećane koncentracje štetnih gasova.
				</p>
		</div>
	</div>
</div>
<div class="container-fluid" style="padding: 0;margin: 0;">
	<md-card class="example-card " style="background:#1B75BC;color:#F1F2F2">
		<md-card-header>
			<md-card-title style="font-size: 18px;font-weight: 300;">Zainteresovani ste ?</md-card-title>
		</md-card-header>
		<md-card-content style="margin-left: 20%;margin-right: 20%;">
			<p style="text-align: center; font-weight: 300;padding: 0 20%;">
				Ukoliko zaista želite da jedan od novih,
				luksuznih Aerris apartmana bude vaš
				možete nas kontaktirati kako bi ste
				saznali više informacija kao i rezervisali vaš apartman.
			</p>
		</md-card-content>
		<md-card-actions>
			<button md-raised-button>KONTAKTIRAJTE NAS</button>
		</md-card-actions>
	</md-card>
</div>
<div class="container-fluid san">
	<h4 class="san">OSTVARITE SVOJ SAN I OBEZBEDITE SEBI LUKSUZNI APARTMAN NA ZLATIBORU</h4>
</div>

